#artistes {
  background: $dark;
  position: sticky;
  z-index: 2;
  top: 0;
  height: 100vh;
  padding-top: 10vh;
}

.artiste {
  position: relative;
  z-index: 3;
}

.artistes-img-cont {
  position: absolute;
  inset: 0;
  z-index: -1;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &:nth-child(2) {
      z-index: -1;
      opacity: 0.5;
    }
  }
}

.artiste-thumb-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.artiste-thumb.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .artiste-thumb-name {
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    text-decoration: underline;
    bottom: 10%;
  }

  .artiste-thumb-work {
    width: 40vw;
  }
}

.artiste-thumb.desktop {
  display: none;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1vw;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5px;
    background: $light;
    z-index: -1;
  }

  .artiste-thumb-name {
    font-size: 40px;
    font-weight: 500;
  }

  &:hover {
    color: $dark;
    &::before {
      height: 100%;
    }

    .artiste-thumb-arrow {
      fill: $dark;
    }
  }
}

.artiste-thumb-arrow-cont {
  width: 20px;
}

.artiste-thumb-arrow {
  fill: $light;
}

.artiste-popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 10vh;
  background: $dark;
  z-index: 6;
  padding: 4vh 4vw;
  overflow-y: scroll;
  transition: transform 0.3s;
  transform: translateY(110%);

  &.open {
    transform: translateY(0);
  }
}

.artiste-popup-head {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.artiste-popup-name {
  font-size: 40px;
  font-weight: 500;
}

.artiste-popup-type {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.artiste-popup-flex-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.artiste-popup-img {
  position: absolute;
  width: 30vw;
  right: 4vw;
  opacity: 0.6;
  bottom: 4vh;
  z-index: -1;
}

.artiste-popup-links-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    font-size: 24px;

    &:hover {
      background: $light;
      color: $dark;
    }
  }
}
.artiste-close-btn-cont {
  position: absolute;
  top: 4vh;
  right: 4vw;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    scale: 1.05;
    rotate: 90deg;
  }
}

@include bp("md") {
  #artistes {
    padding-top: 35vh;
  }
  .artiste-thumb.mobile {
    display: none;
  }

  .artiste-thumb.desktop {
    display: flex;
    cursor: pointer;
  }
  .artiste-thumb-container {
    margin-top: 0;
  }

  .artiste-popup {
    padding: 6vh 4vw;
    overflow: hidden;
  }

  .artiste-close-btn {
    top: 6vh;
  }

  .artiste-popup-name {
    font-size: 110px;
  }

  .artiste-popup-type {
    font-size: 40px;
  }

  .artiste-popup-flex-img {
    display: flex;
    justify-content: space-between;
  }

  .artiste-popup-img {
    position: static;
    width: 20vw;
    opacity: 1;
  }

  .artiste-popup-flex-description {
    flex-direction: row;
    gap: 15vw;

    p {
      width: 40vw;
    }
  }

  .artiste-popup-links-cont {
    align-items: flex-end;
  }
}
