#artistes {
  background: $dark;
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: 10vh;
}

.artiste {
  position: relative;
}

.background.artiste {
  position: fixed;
}

.artistes-img-cont {
  position: absolute;
  inset: 0;
  z-index: -2;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &:nth-child(2) {
      z-index: -2;
      opacity: 0.5;
      transform: translateY(-30%);
      pointer-events: none;
    }
  }
}

.artiste-thumb-container {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
}

.artiste-thumb.mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s;
  box-shadow: 0px 34px 24px 0px rgba(0, 0, 0, 0.25);
  animation: mobileThumbJiggle infinite 10s;

  .artiste-thumb-name {
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    text-decoration: underline;
    bottom: 10%;
    white-space: nowrap;
    text-shadow: 0px 2px 8px rgba($dark, 0.4);
  }

  .artiste-thumb-work {
    width: 40vw;
  }
}

.artiste-thumb.desktop {
  display: none;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1vw;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5px;
    background: $light;
    z-index: -1;
  }

  .artiste-thumb-name {
    font-size: 40px;
    font-weight: 500;
  }

  &:hover {
    color: $dark;
    &::before {
      height: 100%;
    }

    .artiste-thumb-arrow {
      fill: $dark;
    }
  }
}

.artiste-thumb-work-absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 25vh;
  opacity: 0;
  display: none;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 999;
  transform: translate(-50%, -20%);

  &.visible {
    display: block;
    opacity: 1;
  }
}

.artiste-thumb-arrow-cont {
  width: 20px;
}

.artiste-thumb-arrow {
  fill: $light;
}

.artiste-popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 10vh;
  background: $dark;
  z-index: 13;
  padding: 4vh 4vw;
  overflow-y: scroll;
  transition: transform 0.3s;
  transform: translateY(110%);

  &.open {
    transform: translateY(0);
  }
}

.artiste-popup-head {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.artiste-popup-name {
  font-size: 40px;
  font-weight: 500;
}

.artiste-popup-type {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.artiste-popup-flex-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.artiste-popup-img {
  position: absolute;
  width: 30vw;
  right: 4vw;
  opacity: 0.6;
  bottom: 4vh;
  // z-index: -1;
}

.artiste-popup-links-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a {
    font-size: 24px;

    &:hover {
      background: $light;
      color: $dark;
    }
  }
}
.artiste-close-btn-cont {
  position: absolute;
  top: 4vh;
  right: 4vw;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    scale: 1.05;
    rotate: 90deg;
  }
}

.artiste-carrousel-controls {
  position: absolute;
  left: 4vw;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.artiste-carrousel-control {
  width: 24px;
  border: none;
  background: none;

  &.prev {
    rotate: 180deg;
  }
}

@media (max-width: 767px) {
  .artiste-carrousel {
    flex-direction: row;
    overflow-x: hidden;
    transition: all 1s;
  }

  .artiste-carrousel-item {
    width: 92vw;
    display: flex;
    justify-content: center;
  }
}

@include bp("md") {
  .artiste-carrousel-controls {
    display: none;
  }
  #artistes {
    padding-top: 35vh;
  }
  .artiste-thumb.mobile {
    display: none;
  }

  .artiste-thumb.desktop {
    display: flex;
    cursor: pointer;
  }
  .artiste-thumb-container {
    margin-top: 0;
  }

  .artiste-popup {
    padding: 6vh 4vw;
    overflow: hidden;
  }

  .artiste-close-btn {
    top: 6vh;
  }

  .artiste-popup-name {
    font-size: 110px;
  }

  .artiste-popup-type {
    font-size: 40px;
  }

  .artiste-popup-flex-img {
    display: flex;
    justify-content: space-between;
  }

  .artiste-popup-img {
    position: static;
    width: 20vw;
    opacity: 1;
  }

  .artiste-popup-flex-description {
    flex-direction: row;
    gap: 15vw;

    p {
      width: 40vw;
    }
  }

  .artiste-popup-links-cont {
    align-items: flex-end;
  }
}

@keyframes mobileThumbJiggle {
  0% {
    transform: translateY(-1%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-1%);
  }
}
