.banner {
  position: sticky;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

.banner-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.banner-title {
  text-shadow: 0px 0.51px 8px rgba(0, 0, 0, 0.35);
  font-size: 36px;
  font-weight: 900;
  line-height: 105%;
  text-transform: uppercase;

  position: absolute;
  left: 4vw;
  width: 92vw;
  bottom: 10vh;
}

@include bp("md") {
  .banner-title {
    font-size: 6vw;
    width: 85vw;
  }
}
