.partners {
  padding: 10vh 0;
  background: $dark;
  position: sticky;
  top: 0;
  height: 100vh;
}

.partners-title {
  margin: 0 5vw;
}

.partners img {
  width: auto;
  height: 100px;
}

.partner-container {
  margin: 10vh auto;
  display: flex;
  justify-content: space-between;
  row-gap: 10vh;
  flex-wrap: wrap;
}