.partners {
  padding: 10vh 0;
  background: $dark;
  position: sticky;
  top: 0;
  height: 100vh;
}

.partners .partners-title {
  margin: 0 5vw;
}

.partners .slider-container {
  margin: 10vh 0;
}
