.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.25);

  padding: 20px 0;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 35px;
  animation: scroll-left 10s linear infinite;

  &.reverse {
    animation-direction: reverse;
  }

  p {
    white-space: nowrap;
    font-size: 24px;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;

    &::after {
      content: "";
      margin-left: 15px;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@include bp("md") {
  .slider-container {
    padding: 40px 0;
  }
  .slider {
    animation-duration: 40s;

    p {
      font-size: 40px;
    }
  }
}
