* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::selection {
    background: $light;
    color: $dark;
  }
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

video {
  width: 100%;
}

@include bp("lg") {
  video {
    max-width: 720px;
  }
}

body {
  font-family: "Satoshi", sans-serif;
  color: $light;
  background: $dark;

  &.no-scroll {
    overflow: hidden;
  }
}
html {
  scroll-behavior: smooth;
}

.background {
  position: fixed;
  z-index: 3;
  inset: 0;
  background: rgba($dark, 0.1);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s;
}

h2 {
  font-size: 47px;
  font-weight: 300;
  line-height: 105%;
  text-transform: uppercase;
}

p,
li {
  font-size: 20px;
  font-weight: 400;
  line-height: 110%; /* 112.5% */
}

@include bp("md") {
  p,
  li {
    font-size: 24px;
  }
}

@include bp("lg") {
  h2 {
    font-size: 80px;
  }
}
